<main>
  <mat-toolbar color="primary">
    <mat-toolbar-row>
      <button mat-icon-button (click)="toggle()"><mat-icon>menu</mat-icon></button>
      <span>Filter Heroes</span>
    </mat-toolbar-row>
  </mat-toolbar>
  <mat-sidenav-container>
    <mat-sidenav #sidefilter [mode]="'over'" class="my-sidenav-container" [opened]="true">
      <div class="my-sidenav-inner-container">
        <div fxLayout="row">
          <div fxFlex="100">
            <mat-form-field class="w-90">
              <mat-label>City</mat-label>
              <mat-select [(value)]="filter.idCity">
                <mat-option [value]="-1">Tutte le citt&agrave;</mat-option>
                <mat-option *ngFor="let city of cities" [value]="city.id">
                  {{ city.id }} - {{ city.cityName }} ({{ city.codeNation }})
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </div>
        <div fxLayout="row">
          <div fxFlex="100">
            <mat-form-field class="w-90">
              <mat-label>Actor Type</mat-label>
              <mat-select [(value)]="filter.isMainCharacter">
                <mat-option [value]="-1">All</mat-option>
                <mat-option [value]="0">Only Pronagonist</mat-option>
                <mat-option [value]="1">Only Not Protagonist</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </div>
        <div fxLayout="row">
          <div fxFlex="100">
            <mat-form-field appearance="fill" class="w-90">
              <mat-label>Date creation range</mat-label>
              <mat-date-range-input [rangePicker]="picker">
                <input matStartDate placeholder="Start date" [(ngModel)]="filter.from">
                <input matEndDate placeholder="End date" [(ngModel)]="filter.to">
              </mat-date-range-input>
              <mat-hint>MM/DD/YYYY - MM/DD/YYYY</mat-hint>
              <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
              <mat-date-range-picker #picker></mat-date-range-picker>
            </mat-form-field>
          </div>
        </div>
        <div fxLayoutAlign="center center">
          <button color="primary" mat-stroked-button (click)="cerca()"><mat-icon>search</mat-icon>Cerca</button>
        </div>
      </div>
    </mat-sidenav>
    <mat-sidenav-content>
      <app-hero-table #heroTable></app-hero-table>
    </mat-sidenav-content>
  </mat-sidenav-container>
</main>
<footer id="my-footer">
    <div class="container">
        <div class="box-item">
          <div class="box-item-inner">
            Federico Campanozzi 2023
          </div>
        </div>
        <div class="box-item">
          <div class="box-item-inner">
            SuperHero
          </div>
        </div>
        <div class="box-item">
          <div class="box-item-inner">
            <a href="https://www.youtube.com/watch?v=dtthbiP3SE0">Tutorial</a>
          </div>
        </div>
    </div>
</footer>