.bg-image {
  background-repeat: no-repeat;
  background-size: cover;
  width: 150px;
  height: 150px;
  background-color: black;
  border-radius: 10px;
}

.dialog-container {
  padding: 35px;
  overflow-y: auto;
  border-radius: 20px;
}

.close-btn{
  position: relative;
  float: right;
  top: 5px;
  right: 5px;
}