<button mat-icon-button color="warn" class="close-btn" (click)="exitDialog()"><mat-icon>close</mat-icon></button>
<div class="dialog-container">
  <div fxLayout="row">
    <div fxFlex="10">
      <mat-form-field class="w-100">
        <mat-label for="id">ID</mat-label>
        <input matInput placeholder="ID" [disabled]="true" [(ngModel)]="hero.id" name="id">
      </mat-form-field>
    </div>
    <div fxFlex="40">
      <mat-form-field class="w-100">
        <mat-label for="name">Name</mat-label>
        <input matInput placeholder="Name" [disabled]="!(editMode || addMode)" [(ngModel)]="hero.name" name="name">
      </mat-form-field>
    </div>
    <div fxFlex="50">
      <mat-label>Main Character:</mat-label>
      <mat-checkbox [checked]="hero.isMainCharacter" [disabled]="!(editMode || addMode)" class="ck-main"></mat-checkbox>
    </div>
  </div>
  <div fxLayout="row">
    <div fxFlex="50">
      <mat-form-field class="w-100">
        <mat-label for="dateCreation">Create on</mat-label>
        <input matInput placeholder="First Name" [disabled]="true" [(ngModel)]="hero.dateCreate"
          name="dateCreation">
      </mat-form-field>
    </div>
    <div fxFlex="50">
      <mat-form-field class="w-100">
        <mat-label for="lastDateUpdate">Last Update</mat-label>
        <input matInput placeholder="First Name" [disabled]="true" [(ngModel)]="hero.lastDateUpdate"
          name="lastDateUpdate">
      </mat-form-field>
    </div>
  </div>
  <div fxLayout="row">
    <div fxFlex="50">
      <mat-form-field class="w-100">
        <mat-label for="firstName">First Name</mat-label>
        <input matInput placeholder="First Name" [disabled]="!(editMode || addMode)" [(ngModel)]="hero.firstName"
          name="firstName">
      </mat-form-field>
    </div>
    <div fxFlex="50">
      <mat-form-field class="w-100">
        <mat-label for="lastName">Last Name</mat-label>
        <input matInput placeholder="Last Name" [disabled]="!(editMode || addMode)" [(ngModel)]="hero.lastName"
          name="lastName">
      </mat-form-field>
    </div>
  </div>
  <div fxLayout="row">
    <div fxFlex="100">
      <mat-form-field class="w-100">
        <mat-label for="idCity">City</mat-label>
        <mat-select [(value)]="hero.idCity" [disabled]="!(editMode || addMode)" name="idCity">
          <mat-option *ngFor="let city of cities" [value]="city.id">
            {{ city.id }} - {{ city.cityName }} ({{ city.codeNation }})
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </div>
  <div fxLayout="row" style="margin: 0 0 10px 0;">
    <div fxFlex="50" fxLayoutAlign="center center">
      <div *ngIf="hero.imageURL == undefined" class="bg-image"></div>
      <div *ngIf="hero.imageURL != undefined" class="bg-image" style="background-image: url({{hero.imageURL}});"></div>
    </div>
    <div fxFlex="50" fxLayoutAlign="center center">
      <mat-form-field>
        <mat-label>Image URL:</mat-label>
        <textarea matInput
                  [disabled]="!(editMode || addMode)"
                  cdkTextareaAutosize
                  #autosize="cdkTextareaAutosize"
                  cdkAutosizeMinRows="1"
                  cdkAutosizeMaxRows="5"
                  [(ngModel)]="hero.imageURL"
                  ></textarea>
      </mat-form-field>
    </div>
  </div>
  <div fxLayout="row">
    <div fxFlex="100" *ngIf="!editMode && !addMode">
      <button mat-raised-button color="primary" (click)="changeMode(true)" class="w-100">
        <mat-icon>edit</mat-icon>
      </button>
    </div>
    <div fxFlex="50" *ngIf="editMode || addMode">
      <button mat-raised-button color="primary" (click)="changeMode(true)" class="w-100">
        <mat-icon>check</mat-icon>
      </button>
    </div>
    <div fxFlex="50" *ngIf="editMode || addMode">
      <button mat-raised-button color="warn" (click)="changeMode(false)" class="w-100">
        <mat-icon>close</mat-icon>
      </button>
    </div>
  </div>
</div>