<div style="margin: 10px 0;">
    <div layout="row">
        <div fxLayoutAlign="center center">
            <div layout="columns" fxFlex="90">
                <div class="mat-elevation-z8">
                    <div id="maxHeightJS">

                        <table mat-table [dataSource]="heroesDataSource" matSort (matSortChange)="announceSortChange($event)" #heroTable>

                            <ng-container matColumnDef="ID">
                                <th mat-header-cell mat-sort-header *matHeaderCellDef class="colum-w-s"> # </th>
                                <td mat-cell *matCellDef="let hero" class="colum-w-s" sticky>{{hero.id}}</td>
                            </ng-container>

                            <ng-container matColumnDef="Name">
                                <th mat-header-cell mat-sort-header *matHeaderCellDef> Name </th>
                                <td mat-cell *matCellDef="let hero"> {{hero.name}} </td>
                            </ng-container>

                            <ng-container matColumnDef="FirstName">
                                <th mat-header-cell mat-sort-header *matHeaderCellDef> First Name </th>
                                <td mat-cell *matCellDef="let hero"> {{hero.firstName}} </td>
                            </ng-container>

                            <ng-container matColumnDef="LastName">
                                <th mat-header-cell mat-sort-header *matHeaderCellDef> Last Name </th>
                                <td mat-cell *matCellDef="let hero"> {{hero.lastName}} </td>
                            </ng-container>

                            <ng-container matColumnDef="City">
                                <th mat-header-cell mat-sort-header *matHeaderCellDef> City </th>
                                <td mat-cell *matCellDef="let hero"> {{hero.idCity}} </td>
                            </ng-container>

                            <ng-container matColumnDef="Controls" stickyEnd>
                                <th mat-header-cell *matHeaderCellDef> </th>
                                <td mat-cell *matCellDef="let hero">
                                    <button mat-icon-button color="primary" (click)="showDetail(hero, false)">
                                        <mat-icon>edit</mat-icon>
                                    </button>
                                    <button mat-icon-button color="warn" (click)="deleteHero(hero)">
                                        <mat-icon>delete</mat-icon>
                                    </button>
                                </td>
                            </ng-container>

                            <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
                            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

                        </table>
                    </div>
                    <div layout="row" style="background-color: white;">
                        <div fxFlex="25" fxLayoutAlign="center center">
                            <button mat-raised-button color="primary" (click)="showDetailAdd()">
                                <mat-icon>add_circle_outline</mat-icon>
                                <span class="desktop">
                                    Add new Hero
                                </span>
                            </button>
                        </div>
                        <div fxFlex="75">
                            <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons aria-label="Select page" #heroTablePaginator id="my-paginator"> </mat-paginator>               
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>